@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background-gradient-light: radial-gradient(#fff, #eee);
  --background-color: #252d39;
  --background-color-dark: #12191f;
  --background-color-event: #48e;
  --dark-background-font-color: #e3edf5;
  --dark-background-font-color-subtitle: #b3bbc1;
  --light-background-font-color: #060b14;
  --title-font-size: 30px;
  --subtitle-font-size: 22px;
  --regular-font-size: 14px;
  --small-font-size: 10px;
  --big-font-size: 25px;
  --font-family-regular: 'Poppins', sans-serif
}

* {
  font-family: var(--font-family-regular);
  font-size: var(--regular-font-size);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background: var(--background-gradient-light);
  background-image: url("https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  backdrop-filter: blur(20px);
  color: var(--light-background-font-color);
}
